body{
    display: grid;
    grid-template-columns: 1
    1
    1;
    justify-content: center;
    background-color: rgb(230, 193, 231);
    height: 1612px;
}

header, main, footer{
    width: 720px;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    height: 200px;
}

h1{
    text-align: center;
    font-size: 45px;
}

h2{
    text-align: center;
    font-size: 35px;
}

p{
    text-align: center;
    font-size: 18px;
}

/* .opening {
    
} */