body{
    display: grid;
    justify-content: center;
    background-color: rgb(230, 193, 231);
    height: 1612px;
}

header, main, footer{
    max-width: 720px;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

header, footer{
    height: 300px;
}

main{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 65px;
}

h2{
    text-align: center;
    font-size: 45px;
    padding: 5px;
}

button{
    font-size: 45px;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
}

.hidden {
    display: none;
}
